<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
 <connectionStrings>
        <add name="ControleVendas.My.MySettings.controle_vendasConnectionString"
            connectionString="server=localhost;user id=root;database=controle_vendas"
            providerName="MySql.Data.MySqlClient" />   
    </connectionStrings>

	<!-- <connectionStrings>
		<add name="ControleVendas.My.MySettings.controle_vendasConnectionString"
            connectionString="server=mysql746.umbler.com;user id=xufu; password=EZBjW9LtUscBmb; database=controle_vendas; port=41890;"
            providerName="MySql.Data.MySqlClient" />
	</connectionStrings> !-->
	
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>